.notes-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Sidebar Main"
    "Sidebar Main"
    "Sidebar Main";
}
.px-1 {
  padding: 0 1rem;
}
.notes-sidebar {
  border: 1px solid saddlebrown;
  grid-area: Sidebar;
}
.notes-mainbar {
  border: 1px solid green;
  grid-area: Main;
}
.notes-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
.notes-sidebar-icon-div {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* width: 6rem; */
  font-size: 1.25rem;
  margin: 0.75rem 0;
}
.notes-sidebar-icon-div span {
  padding-left: 1.25rem;
}
/* main */
.notes-input {
  width: 500px;
  height: 150px;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.notes-input[input] {
  font-size: 1.24rem;
}
.notes-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.allNotes-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.note-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  width: 32rem;
}
.notes-modal-hide {
  display: none;
}
.notes-modal {
  border: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 23rem;
  padding: 1rem 2rem;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
  background-color: #f9fafb;
}
.note-input {
  width: 18rem;
  height: 30px;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-radius: 0.4rem;
  border: 1px solid #64748b;
}
.note-textarea {
  width: 18rem;
  height: 5rem;
  border: 1px solid #64748b;
}
.notes-mainbar select {
  width: 5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.select-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1.25rem 0;
}
.addnotes-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.notes-modal-closeBtn {
  position: absolute;
  right: 1%;
  top: 3%;
}
.note-bottom-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-tag-container {
  display: flex;
  column-gap: 0.5rem;
}
.tag-pill {
  background-color: beige;
  width: fit-content;
  border-radius: 1rem;
}
.search-box {
  width: 31rem;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  border: 1px solid #64748b;
}
.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  column-gap: 1rem;
}
.filter-modal {
  border: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 1rem 2rem;
  transform: translate(-50%, -50%);
  border-radius: 0.75rem;
  background-color: #f9fafb;
}
.filter-modal-hide {
  display: none;
}
.displayArchiveNotes {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.label {
  font-weight: 600;
}
select {
  font-weight: 500;
  padding: 0.4rem;
}
.note-icon-container {
  display: flex;
  column-gap: 0.5rem;
}
.icon-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}
